.intersted_to_woek_with_our_team
    .intersted_to_woek_with_our_team__text
        h3 Intersted to woek with our team?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    button.intersted_to_woek_with_our_team__btn Let’s&nbspTalk