.pre-bounding_container
    .our_client.bounding_container
        .our_client__info
            h4 Our Beloved Client
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        .our_client__logos 
            .our_client__logo_card.our_client__logo1
                h5 LOGO CLIENT 1
            .our_client__logo_card.our_client__logo2
                h5 LOGO CLIENT 2
            .our_client__logo_card.our_client__logo3
                h5 LOGO CLIENT 3
            .our_client__logo_card.our_client__logo4
                h5 LOGO CLIENT 4
            .our_client__logo_card.our_client__logo5
                h5 LOGO CLIENT 5
            .our_client__logo_card.our_client__logo6
                h5 LOGO CLIENT 6
            .our_client__logo_card.our_client__logo7
                h5 LOGO CLIENT 7
            .our_client__logo_card.our_client__more_client
                h5 More client