.modal
    .modal__container
        h6 SEND US MESSAGE
        form.form
            .form__elem
                label(for="name") 
                    p Full Name
                input(type="text" name="name" id="name" placeholder="Your Name" formnovalidate)
            .form__elem
                label(for="email") 
                    p Email
                input(type="email" name="email" id="email" placeholder="Your Email" formnovalidate)
            .form__elem
                label(for="message") 
                    p Message
                input(type="text" name="message" id="message" placeholder="Your Message" formnovalidate)
            .form__submit 
                button SUBMIT